body {
    font-family: sans-serif;
}

.content {
    text-align: center;
}

.heading {
    font-size: 100px;
    color: antiquewhite;
}

#input {
    width: 50%;
    padding: 16px;
    font-size: larger;
    border-color: rgb(13, 13, 116);
}

.b1 {
    padding: 16px;
    margin: 16px;
    background-color: black;
    color: white;
}


.div {
    margin-left: 306px;
    border: 1px solid black;
    width: 50%;
    padding: 16px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.check {
    float: inline-start;

}

.b2 {
    float: inline-end;
    padding: 10px;
    background-color: black;
    color: white;
}
 